# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

.docx_work

# Large model/data files
/project/diabetes/models/best_diabetes_model.joblib
/project/house-price-prediction/data/house_prices.csv

/project/**/models/